In [1]:
import pandas as pd

In [4]:
import cx_Oracle as oci

In [5]:
conn = oci.connect('HR/hr@localhost:1521/xe')

In [6]:
print(conn.version)
df = pd.read_sql("select * from CUSTOMERS",con=conn)

11.2.0.2.0

DatabaseError: Execution failed on sql 'select * from olist_customer_dataset': ORA-00942: table or view does not exist