In [1]:
import os

In [2]:
import pandas as pd

In [3]:
os.getcwd()

'C:\\Users\\user\\Documents\\nano-python\\data\\nano online course\\PJT2)Subway_Analysis'

In [4]:
os.listdir()

['.ipynb_checkpoints',
 '1. Subway_Raw_Merge.ipynb',
 '2. EDA_by_DATE.ipynb',
 '3. EDA_by_PLACE.ipynb',
 'data',
 'rawfiles',
 'subway.ipynb',
 'subway_filemerge.ipynb',
 'Untitled.ipynb',
 'Untitled1.ipynb']

In [5]:
file = 'rawfiles/CARD_SUBWAY_MONTH_201901.csv'
file

'rawfiles/CARD_SUBWAY_MONTH_201901.csv'

In [6]:
raw = pd.read_csv(file)
raw.head()

       사용일자  노선명   역ID   역명  승차총승객수  하차총승객수      등록일자
0  20190101  경춘선  1323   가평    1520    1436  20190104
1  20190101  경춘선  1322   상천     275     114  20190104
2  20190101  경춘선  1321   청평    1509    1083  20190104
3  20190101  경춘선  1320  대성리     357     271  20190104
4  20190101  경춘선  1319   마석    1772    1963  20190104

In [7]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18334 entries, 0 to 18333
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   사용일자    18334 non-null  int64
 1   노선명     18334 non-null  object
 2   역ID     18334 non-null  int64
 3   역명      18334 non-null  object
 4   승차총승객수  18334 non-null  int64
 5   하차총승객수  18334 non-null  int64
 6   등록일자    18334 non-null  int64
dtypes: int64(5), object(2)
memory usage: 1002.8+ KB

In [8]:
raw.shape

(18334, 7)

In [9]:
#여러개의 파일 불러와서 합치기
#데이터 프레인 만들기

data = pd.DataFrame()
data.head()

file1 = 'rawfiles/CARD_SUBWAY_MONTH_201901.csv'
file2 = 'rawfiles/CARD_SUBWAY_MONTH_201902.csv'

temp = pd.read_csv(file1)
data = data.append(temp)
data

temp = pd.read_csv(file2)
data = data.append(temp)
data

           사용일자    노선명   역ID          역명  승차총승객수  하차총승객수      등록일자
0      20190101    경춘선  1323          가평    1520    1436  20190104
1      20190101    경춘선  1322          상천     275     114  20190104
2      20190101    경춘선  1321          청평    1509    1083  20190104
3      20190101    경춘선  1320         대성리     357     271  20190104
4      20190101    경춘선  1319          마석    1772    1963  20190104
...         ...    ...   ...         ...     ...     ...       ...
16538  20190228  우이신설선  4709      북한산보국문    6564    6029  20190303
16539  20190228  우이신설선  4710          정릉    4821    4348  20190303
16540  20190228    경춘선  1314         퇴계원    4212    3899  20190303
16541  20190228  우이신설선  4711  성신여대입구(돈암)    4058    4452  20190303
16542  20190228  우이신설선  4712          보문    1803    1836  20190303

[34877 rows x 7 columns]

#특정폴더에 있는 파일 모두 불러오기
#os 불러오기

In [10]:
#현재 주피터 노트북 기준으로 어떤 파일이 있는지 확인해준다.
os.listdir()

['.ipynb_checkpoints',
 '1. Subway_Raw_Merge.ipynb',
 '2. EDA_by_DATE.ipynb',
 '3. EDA_by_PLACE.ipynb',
 'data',
 'rawfiles',
 'subway.ipynb',
 'subway_filemerge.ipynb',
 'Untitled.ipynb',
 'Untitled1.ipynb']

In [11]:
dirpath = 'rawfiles/'
dirpath

'rawfiles/'

In [12]:
os.getcwd()

'C:\\Users\\user\\Documents\\nano-python\\data\\nano online course\\PJT2)Subway_Analysis'

In [13]:
#파일이 들어있는 경로를 files로 저장한다.


files = os.listdir('rawfiles/')
files

['CARD_SUBWAY_MONTH_201901.csv',
 'CARD_SUBWAY_MONTH_201902.csv',
 'CARD_SUBWAY_MONTH_201903.csv',
 'CARD_SUBWAY_MONTH_201904.csv',
 'CARD_SUBWAY_MONTH_201905.csv',
 'CARD_SUBWAY_MONTH_201906.csv']

In [14]:
dirpath = 'rawfiles/'
dirpath

'rawfiles/'

In [15]:
#파일 병합하는 순서
#비어있는 데이터 프레임 생성
#반복문을 통해 csv 파일을 읽고 데이터프레임에 넣어준다.

# raw = pd.DataFrame()

# for file in files :
#     print(dirpath+file)
#     temp = pd.read_csv(dirpath + file)

data =pd.DataFrame()
data
    
for file in files : 
    temp = pd.read_csv(dirpath+file)
    data = data.append(temp)
data

           사용일자  노선명   역ID     역명  승차총승객수  하차총승객수      등록일자
0      20190101  경춘선  1323     가평    1520    1436  20190104
1      20190101  경춘선  1322     상천     275     114  20190104
2      20190101  경춘선  1321     청평    1509    1083  20190104
3      20190101  경춘선  1320    대성리     357     271  20190104
4      20190101  경춘선  1319     마석    1772    1963  20190104
...         ...  ...   ...    ...     ...     ...       ...
17719  20190630  2호선   204  을지로4가    4940    4668  20190703
17720  20190630  2호선   203  을지로3가   12043   11854  20190703
17721  20190630  2호선   202  을지로입구   31622   29723  20190703
17722  20190630  2호선   201     시청   10178    8214  20190703
17723  20190630  1호선   159    동묘앞   13859   14352  20190703

[99342 rows x 7 columns]

In [16]:
data =data.reset_index(drop=True)
data.tail()

           사용일자  노선명  역ID     역명  승차총승객수  하차총승객수      등록일자
99337  20190630  2호선  204  을지로4가    4940    4668  20190703
99338  20190630  2호선  203  을지로3가   12043   11854  20190703
99339  20190630  2호선  202  을지로입구   31622   29723  20190703
99340  20190630  2호선  201     시청   10178    8214  20190703
99341  20190630  1호선  159    동묘앞   13859   14352  20190703

# 요일을 추가할 수 있을까?

In [18]:
from datetime import datetime

In [21]:
#일시를 관리하는 datatime 라이브러리를 불러온다.
#strptime 함수 사용 (문자를 날짜 타입으로 변경해줌)

# datetime.strptime('날짜str', str 형태)
s = '2019-01-05'
datetime.strptime(s, '%Y-%m-%d')

datetime.datetime(2019, 1, 5, 0, 0)

In [22]:
a= "20190630"
date =datetime.strptime(a,'%Y%m%d')

In [23]:
date.weekday()

6

In [46]:
# weekday_dict = []  #리스트 형태를 만든다.
# 리스트 안에 월~일을 넣어준다. 이걸로 weekday 함수에서 나온 값을 찾아주면 된다. 예) 6 -> 일요일

weekday_dick = ['월','화','수','목','금','토','일'] 
weekday_list = []

for date in data['사용일자'] : 
    date_str = datetime.strptime(str(date),'%Y%m%d')
    date_index = date_str.weekday()
    date = weekday_dick[date_index]
    weekday_list.append(date)

In [35]:
#요일정보가 추가된 리스트를 컬럼에 추가한다.

data['요일'] = weekday_list
data.head()

       사용일자  노선명   역ID   역명  승차총승객수  하차총승객수      등록일자 요일
0  20190101  경춘선  1323   가평    1520    1436  20190104  화
1  20190101  경춘선  1322   상천     275     114  20190104  화
2  20190101  경춘선  1321   청평    1509    1083  20190104  화
3  20190101  경춘선  1320  대성리     357     271  20190104  화
4  20190101  경춘선  1319   마석    1772    1963  20190104  화

In [54]:
data.sample(5)

           사용일자  노선명   역ID     역명  승차총승객수  하차총승객수      등록일자 요일
30194  20190221  2호선   221     역삼   62363   69764  20190224  목
10873  20190119  7호선  2736  고속터미널   23108   18001  20190122  토
18621  20190201  7호선  2761   부평구청   13353   10594  20190204  금
35879  20190302  6호선  2622     망원   12544   13482  20190305  토
85460  20190607  9호선  4118     노들    4665    3890  20190610  금

In [55]:
data.columns

Index(['사용일자', '노선명', '역ID', '역명', '승차총승객수', '하차총승객수', '등록일자', '요일'], dtype='object')

In [68]:
#요일 컬럼을 사용일자 옆으로 옮기기

cond = ['사용일자','요일', '노선명', '역ID', '역명', '승차총승객수', '하차총승객수', '등록일자']
data =data[cond]

In [69]:
data.to_excel('./subway_raw.xlsx', index = False)

In [70]:
pd.read_excel('./subway_raw.xlsx')

           사용일자 요일  노선명   역ID     역명  승차총승객수  하차총승객수      등록일자
0      20190101  화  경춘선  1323     가평    1520    1436  20190104
1      20190101  화  경춘선  1322     상천     275     114  20190104
2      20190101  화  경춘선  1321     청평    1509    1083  20190104
3      20190101  화  경춘선  1320    대성리     357     271  20190104
4      20190101  화  경춘선  1319     마석    1772    1963  20190104
...         ... ..  ...   ...    ...     ...     ...       ...
99337  20190630  일  2호선   204  을지로4가    4940    4668  20190703
99338  20190630  일  2호선   203  을지로3가   12043   11854  20190703
99339  20190630  일  2호선   202  을지로입구   31622   29723  20190703
99340  20190630  일  2호선   201     시청   10178    8214  20190703
99341  20190630  일  1호선   159    동묘앞   13859   14352  20190703

[99342 rows x 8 columns]